---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

// const posts = (await getCollection("blog"))
// 	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
// 	.slice(0, 3);

// const projects = (await getCollection("portfolio"))
//  	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
// 	.slice(0, 3);

// const works = (await getCollection("work"))
// 	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
// 	.slice(0, 3);

// const photos = (await getCollection("photos"))
// 	.slice(0, 10);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <img src="/profile.jpg" alt="Marie Rowley" />
      <h1>Welcome to my website!</h1>
      <p>
        Hi, I'm Marie. I live in Rotherham, UK, andI am an artist, designer, and
        amateur photographer.
      </p>
      <p>
        If you'd like to learn more about me, check out my <a href="/about/"
          >about page</a
        >.
      </p>

      <section>
        <h2>My Work</h2>
      </section>

      <section>
        <h2>My Art</h2>
      </section>

      <section>
        <h2>My Photography</h2>
      </section>

      <section>
        <h2>My Blog</h2>
        <!-- {
          posts.length > 0 ? (
            <div
              id="blogCarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner p-5">
                {posts.map((post, i) => (
                  <div class={`carousel-item ${i === 0 ? "active" : ""}`}>
                    <BlogCard entry={post} />
                  </div>
                ))}
              </div>

              <div class="carousel-indicators">
                {posts.map((_, i) => (
                  <button
                    style="filter: invert(1);"
                    type="button"
                    data-bs-target="#blogCarousel"
                    data-bs-slide-to={i}
                    class={i === 0 ? "active" : ""}
                    aria-label={`Slide ${i + 1}`}
                  />
                ))}
              </div>
            </div>
          ) : (
            <p>No blog posts found.</p>
          )
        } -->
      </section>
      <Footer />
    </main>
  </body>
</html>
